.DS_Store
.context/
log_dir/*
scene_generation/*
outputs/*
!outputs/teleop/
outputs/teleop/*
!outputs/teleop/*.hdf5
datasets/
bddl3/bddl/activity_definitions/*
checkpoints/
RLinf-*/
RLinf/.venv*/
.vscode/
teleop_bridge/SO-ARM100/
RLinf_local/*