.DS_Store
__pycache__/
*.pyc
*.pyo
.context/
log_dir/*
scene_generation/*
outputs/*
!outputs/teleop/
outputs/teleop/*
!outputs/teleop/*.hdf5
datasets/
behavior-1k/bddl3/bddl/activity_definitions/*
vla_models/
RLinf/.venv*/
.vscode/
teleop_bridge/SO-ARM100/
Omnireset/
behavior-1k/OmniGibson/appdata/
behavior-1k/OmniGibson/docs/_build/
behavior-1k/OmniGibson/omnigibson.egg-info/
behavior-1k/OmniGibson/.pytest_cache/
behavior-1k/OmniGibson/**/__pycache__/
