.DS_Store
__pycache__/
*.pyc
*.pyo
.context/
log_dir/*
scene_generation/*
outputs/*
!outputs/teleop/
outputs/teleop/*
!outputs/teleop/*.hdf5
datasets/
bddl3/bddl/activity_definitions/*
checkpoints/
RLinf-*/
RLinf/.venv*/
GR00T-*/
Isaac-GR00T/
.vscode/
teleop_bridge/SO-ARM100/
RLinf_local/*Omnireset/
OmniGibson/appdata/
OmniGibson/docs/_build/
OmniGibson/omnigibson.egg-info/
OmniGibson/.pytest_cache/
OmniGibson/**/__pycache__/
